!!!
%html{'xmlns'=>"http://www.w3.org/1999/xhtml"}
  %head
    %title= @title || 'Paste that shit!'
    %link{:rel => "stylesheet", :href => "css/style.css", :type => "text/css", :media => "screen", :charset => "utf-8"}
  %body
    =yield
